.gradle/
build/
*/build/

.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries/
.idea/caches/
.idea/modules.xml
*.iml

local.properties
/app/release/
/app/debug/
cookies.txt
*.apk
*.ps1